*{
    padding: 0;
    margin: 0;
}
.header{
    width: 350px;
    height: 228px;
    margin: 43px auto 0px;
}
.header .diyi{
    width: 350px;
    height: 52px;
}
.header img{
    float: left;
    margin-top: 7px;
    margin-right: 19px;
}
.header h2{
    color: #222222;
    font-weight: normal;
    float: left;
    font-size: 22px;
   padding: 0 0 7px 0;
}
.header a{
    text-decoration: none;
    font-size: 13px;
    float: left;
    color: #777777;
}
.header .dier{
    height: 36px;
    margin-top: 14px;
    margin-left: 60px;
}
.header .dier a:hover .jjx{
    background: #4fe256;
}
.header .dier .jjx{
    width: 148px;
    height: 32px;
    background: #4bd252;
    border-radius: 3px;
    border: 1px solid #36b148;
    float: left;
    margin-right: 10px;
}
.header .dier .jjx img{
    position: absolute;
    width: 16px;
    height: 15px;
    float: left;
    margin-top: 8px;
    margin-left: 13px;
}
.header .dier .jjx p{
    color: #fff;
    line-height: 32px;
    font-size: 15px;
    float: left;
    margin-left: 33px;
}
.header .dier .sx{
    width: 108px;
    height: 32px;
    border: 1px solid #d9d9d9;
    border-radius: 3px; 
    float: left;
}
.header .dier .sx a{
    margin-left: 22px;
    line-height: 32px;
    font-size: 15px;
    color: #000;
}
.header .dier .sx:hover{
    background: #f3f3f3;
}