*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.banner{
    background: url(../img/banner.jpg);
    width: 100%;
    height: 650px;
    overflow: hidden;
}
.banner .content{
    width: 700px;
    margin: 135px auto;
}
.banner .content .content-r{
    height: 80px;
    text-align: center;
    background: radial-gradient(black, transparent);
}
.banner .content .content-r h2{
    color: #fff;
    line-height: 80px;
    font-weight: normal;
}
.banner .content .content-m{
    height: 250px;
}
.banner .content .content-m .zh{
    margin-top: 60px;
    margin-left: 220px;
}
.banner .content .content-m .zh a{
    color: #fff;
    font-size: 25px;
}
.banner .content .content-m .zh .zh-r{
    height: 27px;
}
.banner .content .content-m .mm{
    margin-left: 220px;
}
.banner .content .content-m .mm a{
    color: #fff;
    font-size: 25px;
}
.banner .content .content-m .mm .mm-r{
    height: 27px;
}
.banner .content .content-m .dl{
    width: 50px;
    height: 50px;
    background: linear-gradient(to top right, #1080ee 0%, #06b4f9 25%, #3197f9 100%);
    border-radius: 50px;
    margin-left: 330px;
    margin-top: 50px;
}
.banner .content .content-m .dl img{
    margin-left: 12px;
    margin-top: 13px;
    width: 25px;
    height: 25px;
}
.banner .content .content-m .zc{
    color: #fff;
    margin-left: 165px;
    margin-top: 25px;
}
.banner .content .content-m .zc a{
    color: #fff;
    margin-left: 60px; 
}
.banner .content .content-m .zc a:hover{
    text-decoration: underline;
}
.banner .content .content-m .zc span{
    margin-left: 60px;
}